.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg , var(--first-color) , var(--second-color));
    z-index: 99999;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader_container {
    height: 350px;
    width: 350px;
    position: relative;
    animation: spin 1.5s infinite;
    -webkit-animation: spin 1.5s infinite;
}

@keyframes spin{
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

.loader_container>div:nth-child(1) {
    height: 75px;
    width: 75px;
    background-image: linear-gradient(45deg , #f7d000 , #e6970e);
    position: absolute;
    top: 100px;
    left: 90px;
    box-shadow: 0 0 3px #f7d000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: move1 1.5s infinite;
    -webkit-animation: move1 1.5s infinite;
}

@keyframes move1 {
    50% {
        transform: translate(-20px , -20px) scale(0.3);
        -webkit-transform: translate(-20px , -20px) scale(0.3);
        -moz-transform: translate(-20px , -20px) scale(0.3);
        -ms-transform: translate(-20px , -20px) scale(0.3);
        -o-transform: translate(-20px , -20px) scale(0.3);
}
}

.loader_container>div:nth-child(2) {
    height: 45px;
    width: 45px;
    background-image: linear-gradient(45deg, #00d7f7, #04c0f5);
    position: absolute;
    top: 105px;
    right: 120px;
    box-shadow: 0 0 2px #00d7f7;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: move2 1.5s infinite;
    -webkit-animation: move2 1.5s infinite;
}

@keyframes move2 {
    50% {
        transform: translate(15px, -10px) scale(0.55);
        -webkit-transform: translate(15px, -10px) scale(0.55);
        -moz-transform: translate(15px, -10px) scale(0.55);
        -ms-transform: translate(15px, -10px) scale(0.55);
        -o-transform: translate(15px, -10px) scale(0.55);
}
}

.loader_container>div:nth-child(3) {
    height: 75px;
    width: 75px;
    background-image: linear-gradient(45deg, #f60180, #f7014f);
    position: absolute;
    bottom: 100px;
    right: 110px;
    box-shadow: 0 0 3px #f60180;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: move3 1.5s infinite;
    -webkit-animation: move3 1.5s infinite;
}

@keyframes move3 {
    50% {
        transform: translate(20px, 20px) scale(0.3);
        -webkit-transform: translate(20px, 20px) scale(0.3);
        -moz-transform: translate(20px, 20px) scale(0.3);
        -ms-transform: translate(20px, 20px) scale(0.3);
        -o-transform: translate(20px, 20px) scale(0.3);
}
}

.loader_container>div:nth-child(4) {
    height: 45px;
    width: 45px;
    background-image: linear-gradient(45deg, #40ddb6, #00ffbf);
    position: absolute;
    bottom: 105px;
    left: 100px;
    box-shadow: 0 0 3px #40ddb6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: move4 1.5s infinite;
    -webkit-animation: move4 1.5s infinite;
}

@keyframes move4 {
    50% {
        transform: translate(-15px, 10px) scale(0.55);
        -webkit-transform: translate(-15px, 10px) scale(0.55);
        -moz-transform: translate(-15px, 10px) scale(0.55);
        -ms-transform: translate(-15px, 10px) scale(0.55);
        -o-transform: translate(-15px, 10px) scale(0.55);
}
}
