*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
:root{
    --greenColor:#40DDB6;
    --blueColor:#6B77E5;
    --blackColor:#37393F;
    --whiteColor:white;
    --whiteColor-1:rgb(122, 118, 118);
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
    text-transform: capitalize;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  /* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
.header{
    background-color: var(--blackColor);
    position: relative;
    height: 40px;
    padding: 10px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.mess-mar{
    display: flex;
    margin-right: 50px;
}
@media (max-width: 767px){
    .mess-mar{
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}
.mess-mar .loca {
    margin-right: 20px;
}
.mess-mar .loca h4 ,
.mess-mar .mess h4 ,
.soc-cloc .clock h4{
    color: var(--whiteColor);
    font-weight: normal;
    font-size: 15px;
}
.mess-mar .loca h4 i ,
.mess-mar .mess h4 i ,
.soc-cloc .clock h4 i{
    margin-right: 3px;
    color: var(--greenColor);
}
.soc-cloc {
    display: flex;
}
@media (max-width: 767px){
    .soc-cloc{
        /* display: none; */
        align-items: center;
        justify-content: center;
        margin: 10px auto;
        }
        .header{
            height: 50px;
            width: 100%;
        }
        .mess-mar .loca h4 ,
        .mess-mar .mess h4 ,
        .soc-cloc .clock h4{
    color: var(--whiteColor);
    font-weight: normal;
    font-size: 10px;
}
}
.soc-cloc .clock {
    margin-right: 20px;
}
.soc-cloc .social i{
    color: var(--whiteColor);
    margin-right: 5px;
}
@media (max-width: 767px) {
    #Header{
        margin: auto;
    }
}
.navBar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
}
@media (max-width: 767px){
.navBar .container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill , minmax(300px ,1fr));
   */ gap: 5px; 
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
}
.navBar ul li a{
    font-size: 5px;
    max-width: 100px;
}
.navBar ul{
    font-size: 5px;
}
}
.navBar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBar img{
    margin-right: 5px;
    width: 40px; 
}
.navBar h1 span{
    color: var(--blueColor);
}
.navBar ul{
    display: flex;
}
.navBar ul li{
    padding:5px 13px;
}
.navBar ul li a{
    text-transform: capitalize;
    font-size: 15px;
    text-decoration: none;
    color: var(--blackColor);
    transition-duration: 0.3s;
}
.navBar ul li a:hover{
    color: var(--blueColor);
}
.navBar button{
    cursor: pointer;
    border: none;
    background-color: var(--blueColor);
    padding: 15px;

}
.navBar button a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--whiteColor);
}
#hero{
    width: 100%;
    height:calc(100vh - 140px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/Photo.png);
    z-index: -1;
}
#hero {
    display: flex;
    flex-wrap: wrap;
}
#hero .content {
    margin-top: 250px;
    margin-left: 150px;
    display: block;
    align-items: center;
    justify-content: center;
}
#hero .ltr-page{
    display: block;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
#hero .ltr-page::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #37393FE8;
    z-index: -1;
}
@media (max-width: 991px) {
    #hero .ltr-page {
        flex-basis: 100%;
    }
}
@media (max-width: 767px){
    #hero .content{
        margin: 0;
        padding-top: 150px;
        padding-left: 30px;
    }
}
.ltr-page h4{
    color: var(--whiteColor);
    text-transform: capitalize;
    font-size: 13px;
    margin-bottom: 7px;
}
.ltr-page h2{
    color: var(--whiteColor);
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 10px;
}
.ltr-page h2 span{
    color: var(--greenColor);
}
.ltr-page p{
    color: var(--whiteColor-1);
    margin-bottom: 20px;
}
.ltr-page h4 div{
    position: absolute;
    margin: 3px -12px;
    width: 8px;
    height: 8px;
    background-color: var(--greenColor);
}
.btn-vid{
    height: 50px;
    width: fit-content;
    display: flex;
}
.btn-vid button{
    margin-right: 20px;
    padding: 8px 20px;
    border: none;
    background-color: var(--greenColor);
}
.btn-vid button a{
    text-transform: capitalize;
    text-decoration: none;
    color: black;
}
.btn-vid .watch {
    display:flex ;
}
.btn-vid img{
    width: 50px;
    margin-right: 10px;
}
.btn-vid h3{
    font-size: 15px;
    color: var(--whiteColor);
    text-transform: capitalize;
    margin-top: 15px;
}
#about{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ltr-ab{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    padding-bottom: 50px;
    background-color: #eee;
    
}
.ltr-ab .info{
    max-width: 280px;
    margin-top: 150px;
    margin-left: 250px;
}
@media (max-width: 767px){
    .ltr-ab .info ,.rtl-ab{
        display: grid;
        margin: 0;
    }

}
@media (max-width: 991px) {
    .ltr-ab {
        flex-basis: 100%;
    }
}
.ltr-ab img{
    width: 300px;
    padding-bottom: 20px;
}
.ltr-ab h2{
    margin:5px 0 5px 0;
}
.ltr-ab p{
    margin-bottom: 15px;

    color: #777;
    line-height: 1.7;
}
.ltr-ab h3{
    width: fit-content;
    border-bottom: 2px solid;
    font-weight: normal;
    font-size: 17px;
    text-transform: capitalize;
}
/*rrrr*/
.rtl-ab {
    flex-basis: 60%;
    padding-bottom: 50px;
}
.rtl-ab .info {
    margin-top: 150px;
    margin-left: 70px;
    max-width: 400px;
}
.rtl-ab h4{
    font-weight: normal;
    font-size: 13px;
}
.rtl-ab h2{
    margin: 10px 0 10px 0;
    font-size: 30px;
}
.rtl-ab .square ,
.ltr-why .why-name .square ,
.ltr-pro .square ,
.cust-our .square ,
.ltr-work .square ,
.rtl-work .square {
    position: absolute;
    margin: 3px -12px;
    width: 8px;
    height: 8px;
    background-color: var(--greenColor);
}
.bussni div{
    margin-bottom: 10px;
}
.bussni input{
    accent-color: var(--blueColor);
    
}
.ex-win{
    display: flex;
}
.ex ,.win{
    width: 240px;
    display: flex;
    margin-right: 10px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid rgb(214, 212, 207);
}
.ex img , .win img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.ex-win .ex h2 , 
.ex-win .win h2 {
    font-size: 16px;
}
.ex-win .ex p , .ex-win .win p{
    font-size: 15px;
    color: rgb(134, 131, 125);
}
.rtl-ab button{
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: var(--blueColor);
    padding: 15px;
}
.rtl-ab button a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--whiteColor);
}
#company{
    width: 100%;
    height: 20vh;
}
.logo-com{
    margin-top: 70px;
    margin-bottom: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
}
.logo-com img{
    width: 130px;
    height: 50px;
}
.exp-name {
    margin-bottom: 70px;
}
.exp-name h4,
.team-name h4{
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
}
.exp-name h2 ,
.team-name h2{
    text-align: center;
    font-weight: bold;
}
.info .container .buss-sol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-bottom: 30px;
}
.info .container .buss-sol .one-buss{
    background-color: #F4F4F4;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    width: 350px;
    height: 173px;
    position: relative;
    padding: 30px;
}
.info .container .buss-sol .one-buss div{
    display: flex;
    justify-content: space-between;
}

.one-buss{
    width: fit-content;
    padding: 15px 30px;
    background-color: #eee;
}
.one-buss div{
    display: flex;
}
.one-buss div h3{
    font-weight: normal;
    font-size: 16px;
    margin:0 50px 20px 0;
}
.one-buss div img{
    width: 60px;
    height: 60px;
}
.one-buss a{
    color: var(--blueColor);
    font-size: 12px;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    padding-top: 20px;
}
.more{
    width: 350px;
    height: 173px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blueColor);
}
.more a{
    text-decoration: none;
    color: var(--whiteColor);
    font-size: x-large;
    font-weight: bold;
}
