*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
:root{
    --greenColor:#40DDB6;
    --blueColor:#6B77E5;
    --blackColor:#37393F;
    --whiteColor:white;
    --whiteColor-1:rgb(122, 118, 118);
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
    text-transform: capitalize;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  /* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
@media screen {
    
}
.header{
    background-color: var(--blackColor);
    position: relative;
    height: 40px;
    padding: 10px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.mess-mar{
    display: flex;
    margin-right: 50px;
}
@media (max-width: 767px){
    .mess-mar{
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}
.mess-mar .loca {
    margin-right: 20px;
}
.mess-mar .loca h4 ,
.mess-mar .mess h4 ,
.soc-cloc .clock h4{
    color: var(--whiteColor);
    font-weight: normal;
    font-size: 15px;
}
.mess-mar .loca h4 i ,
.mess-mar .mess h4 i ,
.soc-cloc .clock h4 i{
    margin-right: 3px;
    color: var(--greenColor);
}
.soc-cloc {
    display: flex;
}
@media (max-width: 767px){
    .soc-cloc{
        /* display: none; */
        align-items: center;
        justify-content: center;
        margin: 10px auto;
        }
        .header{
            height: 50px;
            width: 100%;
        }
        .mess-mar .loca h4 ,
        .mess-mar .mess h4 ,
        .soc-cloc .clock h4{
    color: var(--whiteColor);
    font-weight: normal;
    font-size: 10px;
}
}
.soc-cloc .clock {
    margin-right: 20px;
}
.soc-cloc .social i{
    color: var(--whiteColor);
    margin-right: 5px;
}
@media (max-width: 767px) {
    #Header{
        margin: auto;
    }
}
.navBar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
}
@media (max-width: 767px){
.navBar .container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill , minmax(300px ,1fr));
   */ gap: 5px; 
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
}
.navBar ul li a{
    font-size: 5px;
    max-width: 100px;
}
.navBar ul{
    font-size: 5px;
}
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    margin-right: 5px;
    width: 40px; 
}
.logo h1 span{
    color: var(--blueColor);
}
.navBar ul{
    display: flex;
}
.navBar ul li{
    padding:5px 13px;
}
.navBar ul li a{
    text-transform: capitalize;
    font-size: 15px;
    text-decoration: none;
    color: var(--blackColor);
    transition-duration: 0.3s;
}
.navBar ul li a:hover{
    color: var(--blueColor);
}
.navBar button{
    cursor: pointer;
    border: none;
    background-color: var(--blueColor);
    padding: 15px;
    transition: .3s;
}
.navBar button a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--whiteColor);
}
#hero{
    width: 100%;
    height:calc(100vh - 140px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/Photo.png);
    z-index: -1;
}
#hero {
    display: flex;
    flex-wrap: wrap;
}
#hero .content {
    margin-top: 250px;
    margin-left: 150px;
    display: block;
    align-items: center;
    justify-content: center;
}
#hero .ltr-page{
    display: block;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
#hero .ltr-page::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #37393FE8;
    z-index: -1;
}
@media (max-width: 991px) {
    #hero .ltr-page {
        flex-basis: 100%;
    }
}
@media (max-width: 767px){
    #hero .content{
        margin: 0;
        padding-top: 150px;
        padding-left: 30px;
    }
}
.ltr-page h4{
    color: var(--whiteColor);
    text-transform: capitalize;
    font-size: 13px;
    margin-bottom: 7px;
}
.ltr-page h2{
    color: var(--whiteColor);
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 10px;
}
.ltr-page h2 span{
    color: var(--greenColor);
}
.ltr-page p{
    color: var(--whiteColor-1);
    margin-bottom: 20px;
}
.ltr-page h4 div{
    position: absolute;
    margin: 3px -12px;
    width: 8px;
    height: 8px;
    background-color: var(--greenColor);
}
.btn-vid{
    height: 50px;
    width: fit-content;
    display: flex;
}
.btn-vid button{
    margin-right: 20px;
    padding: 8px 20px;
    border: none;
    background-color: var(--greenColor);
    transition: .4s;
}
.btn-vid button a{
    text-transform: capitalize;
    text-decoration: none;
    color: black;
}
.btn-vid .watch {
    display:flex ;
}
.btn-vid img{
    width: 50px;
    margin-right: 10px;
}
.btn-vid h3{
    font-size: 15px;
    color: var(--whiteColor);
    text-transform: capitalize;
    margin-top: 15px;
}
#about{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ltr-ab{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    padding-bottom: 50px;
    background-color: #eee;
    
}
.ltr-ab .info{
    max-width: 280px;
    margin-top: 150px;
    margin-left: 250px;
}
@media (max-width: 767px){
    .ltr-ab .info ,.rtl-ab{
        display: grid;
        margin: 0;
    }

}
@media (max-width: 991px) {
    .ltr-ab {
        flex-basis: 100%;
    }
}
.ltr-ab img{
    width: 300px;
    padding-bottom: 20px;
}
.ltr-ab h2{
    margin:5px 0 5px 0;
}
.ltr-ab p{
    margin-bottom: 15px;

    color: #777;
    line-height: 1.7;
}
.ltr-ab h3{
    width: fit-content;
    border-bottom: 2px solid;
    font-weight: normal;
    font-size: 17px;
    text-transform: capitalize;
}
/*rrrr*/
.rtl-ab {
    flex-basis: 60%;
    padding-bottom: 50px;
}
.rtl-ab .info {
    margin-top: 150px;
    margin-left: 70px;
    max-width: 400px;
}
.rtl-ab h4{
    font-weight: normal;
    font-size: 13px;
}
.rtl-ab h2{
    margin: 10px 0 10px 0;
    font-size: 30px;
}
.rtl-ab .square ,
.ltr-why .why-name .square ,
.ltr-pro .square ,
.cust-our .square ,
.ltr-work .square ,
.rtl-work .square 
.testimonials .square{
    position: absolute;
    margin: 3px -12px;
    width: 8px;
    height: 8px;
    background-color: var(--greenColor);
}
.bussni div{
    margin-bottom: 10px;
}
.bussni input{
    accent-color: var(--blueColor);
    
}
.ex-win{
    display: flex;
}
.ex ,.win{
    width: 240px;
    display: flex;
    margin-right: 10px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid rgb(214, 212, 207);
}
.ex img , .win img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.ex-win .ex h2 , 
.ex-win .win h2 {
    font-size: 16px;
}
.ex-win .ex p , .ex-win .win p{
    font-size: 15px;
    color: rgb(134, 131, 125);
}
.rtl-ab button{
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: var(--blueColor);
    padding: 15px;
    transition: .3s;
}
.button-more:hover{
    transform: scale(1.2);
}
.rtl-ab button a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--whiteColor);
}
#company{
    width: 100%;
    height: 30vh;
}
@media(max-width:768px){
    #company{
        height: 60vh;
    }
    .logo-com{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
.logo-com{
    margin-top: 100px;
    margin-bottom: 60px;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}
.logo-com img{
    width: 170px;
    height: 50px;
}
.exp-name {
    margin-bottom: 70px;
}
.exp-name h4,
.team-name h4{
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
}
.exp-name h2 ,
.team-name h2{
    text-align: center;
    font-weight: bold;
}
.info .container {
    padding-left: 80px;
    
}
.info .container .buss-sol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-bottom: 30px ;
    justify-content: center;
    align-items: center;
}
.info .container .buss-sol .one-buss{
    background-color: #F4F4F4;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    width: 350px;
    height: 173px;
    position: relative;
    padding: 30px;
    transition: .3s;
}
.info .container .buss-sol .one-buss:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb( 0 0 0 / 40%);
}
.info .container .buss-sol .one-buss div{
    display: flex;
    justify-content: space-between;
}

.one-buss{
    width: fit-content;
    padding: 15px 30px;
    background-color: #eee;
}
.one-buss div{
    display: flex;
}
.one-buss div h3{
    font-weight: normal;
    font-size: 16px;
    margin:0 50px 20px 0;
}
.one-buss div img{
    width: 60px;
    height: 60px;
}
.one-buss a{
    color: var(--blueColor);
    font-size: 12px;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    padding-top: 20px;
    transition: .5s;
}
.more{
    width: 350px;
    height: 173px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blueColor);
    transition: .3s;
}
.more:hover a {
    color: black;
}
.more:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb( 0 0 0 / 40%);
    background-color: var(--greenColor);
}
.more a{
    text-decoration: none;
    color: var(--whiteColor);
    font-size: x-large;
    font-weight: bold;
}
/* start work */
.work-steps {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
}
.work-steps .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blackColor);
}
@media(max-width:991px){
    .work-steps {
        flex-direction: column;
    }
    .work-steps img {
        max-width: 100%;
        display: none;
    }
}
.work-steps img {
    max-width: 100%;
}
@media(max-width:991px){
    .work-steps .ltr-why{
        margin: 0 0 50px;
    }
}
.work-steps .ltr-why {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    max-width: 600px;
    position: relative;
    margin-top: 20px;
}
.ltr-why .why-name h4{
    color: var(--whiteColor);
    font-weight: normal;
    font-size: 12px;
    margin-left: 7px;
}
.ltr-why .why-name h2{
    margin: 10px 0 ;
    color: var(--whiteColor);
}
.ltr-why .why-name p{
    color: var(--whiteColor-1);
}
.pro{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}
.one-pro{
    padding: 30px 15px;
    width: 250px;
    background-color: #2E2F34;
    display: flex;
}
.one-pro .ninetinees{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 17px 8px 15px 8px;
    border-bottom: 2px solid var(--greenColor);
    border-right: 2px solid var(--greenColor);
    border-left: 2px solid var(--greenColor);

}
.one-pro .eightenns{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 17px 8px 15px 8px;
    border-bottom: 2px solid var(--greenColor);
    border-right: 2px solid var(--greenColor);
}
.one-pro div{
    margin: 10px;
}
.one-pro div h4{
    margin: 3px;
    padding-bottom: 5px;
    color: var(--whiteColor-1);
}
.one-pro div p{
    padding-left: 4px;
    color: white;
}
.form-why {
    margin-top: 20px;
}
.form-why label{
    color: white;
    margin-right: 60px ;
}
.form-why label span{
    color: #FFB342;
}
.form-why input{
    margin-bottom: 20px;
    accent-color: var(--greenColor);
    
}
.form-why a{
    margin-left: -30px;
    text-transform: capitalize;
    color: var(--greenColor);
}
.ltr-pro{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}
.ltr-pro .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.ltr-pro h4{
    font-weight: normal;
    font-size: 12px;
}
.ltr-pro h2{
    margin: 10px 0;
}
.ltr-pro button{
    cursor: pointer;
    border: none;
    background-color: var(--greenColor);
    padding: 10px 15px;
    transition: .3s;
}
.ltr-pro button:hover{
    background-color: var(--blueColor);
    transform: scale(1.2) ;
}
.ltr-pro button a{
    color: var(--whiteColor);
}
.img-pro {
    display: flex;
    /* grid-template-columns: repeat(auto-fill , minmax(300px ,1fr)); */
    gap: 30px;
    padding-right: 30px;
    padding-left: 30px;
    
}
@media(max-width:991px){
    .img-pro{
        flex-direction: column;
    }
}

.img-pro img {
    width: 100%;
    transition: .4s;
}
.img-pro img:hover{
    transform: translateY(-10PX) scale(1.1);
    box-shadow: 0 2px 15px rgb( 0 0 0 / 60%);
}
.hr1{
    margin: 70px auto;
    width: 70%;
    height: 1px;
    background-color: rgb(186, 179, 179);
}
/* Start Testimonials */
.testimonials {
    padding-top: 30px;
    padding-bottom: 80px;
    margin-bottom: 150px;
    position: relative;
    background-color: white;
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box1 h4{
    font-weight: normal;
    font-size: 12px;
    margin-left: 10px;
}
.testimonials .box1 .text .square {
    position: absolute;
    margin: 3px -12px;
    width: 8px;
    height: 8px;
    background-color: var(--greenColor);
    padding-right: 7px;
}
.square{
    position: absolute;
    margin: 3px -12px;
    width: 8px;
    height: 8px;
    background-color: var(--greenColor);
    padding-right: 7px;
}
.testimonials .box1 h2{
    margin: 10px 0;
}
.testimonials .box1 p{
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
}
.testimonials .box1 {
    padding: 20px;
    background-color: white;
    position: relative;
    transition: .3s;
}
.testimonials .box {
    padding: 20px;
    background-color: #F6F6F6;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    border-radius: 6px;
    position: relative;
    transition: .3s;
}
.testimonials .box:hover{
    box-shadow: 0 2px 4px rgb(0 0 0 / 70%)
}
.testimonials .box img {
    position: absolute;
    left:10px;
    top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(#F6F6F6);
    transition: .3s;
}
.testimonials .box h3 {
    margin: 0 0 10px;
    color: var(--main-color);
    padding-left: 100px;
}
.testimonials .box .title {
    color: #000000;
    margin-bottom: 10px;
    display: block;
    padding-left: 100px;
}
.testimonials .box .rate  {
    color: #FFA722;
    padding-left: 100px;
    padding-bottom: 20px;
}
.testimonials .box p {
    line-height: 1.5;
    color: #777;
    margin-top: 15px;
    margin-bottom: 30px;
}
.testimonials .box:last-child  p {
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 20px;
}
.testimonials .box:last-child{
    height: fit-content;
}
  /* End Testimonials */
.works {
    background-color: #6B77E5;
    display: flex;
    padding-top: 70px;
    padding-bottom: var(--main-padding-bottom);
    height: 90vh;
    width: 100%;
}
.works .container {
    display: flex;
    justify-content: space-between;
}
@media(max-width:991px){
    .works .container {
        flex-direction: column;
    }
}
.works .ltr-work {
    width: 400px;
}

.works .ltr-work h4{
    font-weight: normal;
    font-size: 12px;
    color: white;
    margin-left: 13px;
    padding-bottom: 5px;
}
.works .ltr-work h2{
    margin: 10px 0;
    color: white;
}
.works .ltr-work p{
    margin-bottom: 15px;
    width: fit-content;
    color: rgb(206, 199, 199);
    
}
.works .circle5 {
    margin-bottom: 20px;
    padding: 15px;
    width: fit-content;
    background-color: var(--greenColor);
    display: flex;
}
.works .circle5 .cir1{
    padding: 10px;
    width: 80PX;
    height: 80PX;
    border-radius: 50%;
    border: 2px solid var(--blueColor);
    margin-right: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.works .circle5 .cir1 h5{
    font-size: 10px;
}

.works .circle5 .par{
    margin-top: 10px;
    color: white;
    font-size: 15px;
    max-width: 220px;

}
.works .circle5 .par p {
    color: #FFFFFF;
}
.works .one-work h3{
    font-size: 15px;
    color: var(--whiteColor);
}
.works .one-work h3 i{
    font-size: 15px;
    color: var(--greenColor);
    margin-right: 10px;
}
.works .one-work p {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin:5px 16px;
    margin-left: 25px;
}
.works .rtl-work {
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}
.rtl-work h4{
    font-weight: normal;
    font-size: 12px;
    color: white;
    margin-left: 13px;
    padding-bottom: 5px;
}
.rtl-work h2{
    margin: 10px 0;
    color: white;
}
.rtl-work form {
    background-color: rgb(250, 250, 250);
}
rtl-work .inf-bus input{
    border: none;
    background-color: #DDDDDD;
    border-radius: 5px;
    margin-bottom: 10px;
}
.inf-bus div input{
    padding: 10px;
}
.inf-bus div .time{
    padding: 9px 32px;
}
.inf-bus textarea{
    padding: 10px 15px;
    border: none;
    background-color: #DDDDDD ;
    border-radius: 5px;
}
.inf-bus {
    
    flex-direction: column;
    padding: 20px;
    display: flex;
}

.inf-bus input[type="text"],
.inf-bus input[type="number"],
.inf-bus input[type="date"],
.inf-bus input[type="time"],
.inf-bus textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #DDDDDD;
    margin: 10px;
}

.inf-bus input[type="submit"] {
    background-color: var(--greenColor);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    /* justify-content: first baseline; */
    width: fit-content;
    margin-left: 10px;
    margin-top: 10px;
    transition: .3s;
}

.inf-bus input[type="submit"]:hover {
    background-color: var(--blueColor);
}

.inf-bus div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inf-bus .time {
    width: calc(50% - 5px);
}

.inf-bus textarea {
    resize: none;
} 
.exp-img {
    position: relative;
    display: inline-block;
}

.exp-img img {
    max-width: 100%;
    height: auto;
    display: block;
}

.exp-img div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.exp-img button {
    background-color:#37393fe3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    width: 400px ;
    height:180px;
    transition: .8s;
}
.exp-img button:hover{
    border-radius: 10px;
    transform: scale(1.4);
}
@media (max-width: 767px) {
    .exp-img button{
        width: 200px ;
        height:90px;
    }
}
.exp-img button a {
    color: white;
    text-decoration: none;
}
.our-news{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.our-news .haed{
    display: flex;
    justify-content: space-between;
}
.our-news .text-news {
    display: flex;
    flex-direction: column;
}
.our-news .text-news .square {
    margin-left: 3px;
}
.our-news .text-news h4 {
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #37393F;
    margin-left: 15px;
}
.our-news .text-news h2 {
    padding-bottom: 10px;
    font-weight: bold;
    color: #37393F;
}
.our-news .btn-news button {
    background-color: var(--blackColor);
    padding: 10px 15px;
    transition: 0.3s;
}
.our-news .btn-news button:hover{
    background-color: var(--greenColor);
    transform: scale(1.05);
}
.our-news .btn-news a {
    color: white;
}
.our-news .container .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;

}
.our-news .container .boxs .box {
    text-align: left;
    border: 1px solid rgb(255, 255, 255)fff;
    transition: .3s;
    padding: 15px;
    transition: .5s;
}
.our-news .container .boxs .box:hover{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 80%)
}
.our-news .container .boxs .box img {
    width: 100%;
    transition: .5s;
}
.our-news .container .boxs .box:hover img{
    filter: var(--greenColor);
}
.our-news .container .boxs .box .media{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: -6px;
    margin-bottom:10px ;
}
.our-news .container .boxs .box .media .h3 {
    background-color:var(--blueColor) ;
    padding: 14px;
    color: white;
    width: calc(100% /3);
}
.our-news .container .boxs .box .media i {
    margin-right: 6px;
    font-size: 15px;
}
.our-news .container .boxs .box .media a {
    color: #208068;
    padding: 15px;
    background-color: var(--greenColor);
    width: calc(100% /3);
    transition: .3s;
}
.our-news .container .boxs .box .media :not(:last-child){
    border-right: 2px solid #2D9E82;
}
.our-news .container .boxs .box .media a:hover{
    background-color: var(--blueColor);
    color: white;
}
.our-news .container .boxs .box .text-box{
    display: flex;
    flex-direction: column;
}
.our-news .container .boxs .box .text-box h2{
    margin-bottom: 8px;
}
.our-news .container .boxs .box .text-box p{
    color: #7D7D7D;
    margin-bottom: 18px;
}
.our-news .container .boxs .box .text-box a{
    color: var(--blueColor);
}
/** Start Section whiteCollar */
.backWhiteCollar {
    background:url(../img/Photo.png) no-repeat;
    height: 425px;
    background-size: cover;
    display: grid;
    place-items: center;
    position: relative;
}
.backWhiteCollar::before{
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 255, 0, .3); 
}
.backWhiteCollar .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.backWhiteCollar .text > p{
    width: 700px;
}
.backWhiteCollar .text {
    
}

.desc_whiteCollar-title {
    font-size: 2rem;
    font-weight: 700;
}

.desc_whiteCollar-title span {
    color: var(--whiteColor);
}

.desc_whiteCollar-title + p {
    color:#37393F ;
}

.btn-Get button {
    background-color: var(--blueColor);
    padding: 10px 15px;
    transition: 0.3s;
    border: none;
}
.btn-Get button:hover{
    background-color: var(--greenColor);
    transform: scale(1.05);
}
.btn-collar a {
    color: white;
}
@media (0 < width <=992px) {
    .backWhiteCollar .text {
        padding: 0 5rem;
    }

    .desc_whiteCollar-title {
        font-size: 1.7rem;
    }
    .backWhiteCollar .text > p{
        width: fit-content;
    }
}

@media (0 < width <=768px) {
    .backWhiteCollar .text{
        padding: 0 3rem;
    }

    .desc_whiteCollar-title {
        font-size: 1.4rem;
    }

    .desc_whiteCollar-title+p {
        font-size: .8rem;
    }
}


@media (0 < width <=450px) {
    .backWhiteCollar .text{
        padding: 0 1rem;
    }

    .desc_whiteCollar-title {
        font-size: 1.2rem;
    }

    .desc_whiteCollar-title+p {
        font-size: .6rem;
    }

}
footer {
    margin-top: 100px;
    padding-top: var(--main-padding-top);
    background-color: #37393F;
    padding: 0;
}
.contect_call_top {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 80px 0 30px;
}
@media (max-width: 767px){
    .contect_call_top  {
        flex-direction:column;
    }
    .contect_call_bottom{
        display: flex;
        flex-direction:column;
        gap: 1px;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }
    .divLinkFooter {
        gap: 0;
    }
    .divCopy {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}
.contect_call_top .imgGrid{
    margin-right: 80px;
}
.contect_call_top  .imgGrid h1 {
    color: white;
}
.contect_call_top .contact_footer_call{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.icon_call  {
    color: #40DDB6;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:#4C4D52;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition: .3s;
}
.icon_call:hover{
    color: var(--blueColor);
    font-size: 30px;
}
.titleContFooterAddress {
    color: #FFFFFF;
    padding: 2px;
}
.titleContFooterAddress h6{
    font-size: 20px;
    padding-bottom: 5px;
}
.titleContFooterAddress p{
    font-size: 12px;
}
footer hr {
    background-color: #5d5d60 ;
    border: 1;
}
.contect_call_bottom{
    display: flex;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* align-items: center;
    justify-content: center; */
}
.divLinkFooter {
    display: grid;
    gap: 10px;
}
.titleHeadFooter{
    display: flex;
    margin-left: 10px;
}
.divLinkFooter .square{
    background-color: var(--blueColor);
    width: 10px;
    height: 10px;
    
}
.divLinkFooter p {
    color: var(--greenColor);
    padding-left: 3px;
    padding-bottom: 7px;
}
.divLinkFooter a {
    color: #FFFFFF;
    font-size: 13px;
}
.divLinkFooter a:hover{
    color: var(--greenColor);
}


.email_footer {
    background-color: #474950;
    color: var(--w-color);
    padding: 2rem;
    display: grid;
    gap: 1rem;
}

.email_footer h6 {
    font-weight: 600;
    font-size: 1.5rem;
    color:#FFFFFF;
}

.email_footer p {
    font-weight: 300;
    color:#FFFFFF;
}

.inputEmailFooter {
    display: flex;
}

.inputEmailFooter input {
    padding: 1rem 1.5rem;
    width: 90%;
}
.btnLinkBlue {
    background-color: var(--blueColor);
    color: #FFFFFF;
    padding: 0.6rem 1.5rem;
    border: 0;
    transition: .4s;
}
.btnLinkBlue:hover{
    background-color: var(--greenColor);
}
.divCopy {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
    color: #FFFFFF;
}
.copyFooter span:nth-child(1) {
    color: var(--greenColor);
}
.copyFooter span:nth-child(2) {
    color: var(--blueColor);
}
.FontIcon {
    display: flex;
    gap: 15px;
    color: #FFFFFF;
}
.divCopy a {
    color: #FFFFFF;
    transition: .3s;
}
.divCopy a:hover {
    transform: scale(1.3);
}